<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>adv</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/wis1oow.css">
    <link type="text/css" rel="stylesheet" href="/styles.css">
  
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>

    <script src="/js/compress.js"></script>
    <script src="/js/predict.js"></script>
    <script src="/js/load.js"></script>
    <script src="/js/nn.js"></script>

  </head>
  <body>

  <div class="container-fluid" id="container-pad">
    <div class="md-form mt-0"> 
      <form method="POST" action="/search">
        <input class="form-control search-input-form" name="query" type="text" placeholder="Start typing..." aria-label="Search">

        <div class="container" style="margin-top: 50px;"> 
          <div class="row">

            <div class="col-md-3">
              <h4>Image</h4>
              <canvas id="cover" width="64" height="64" style="border:1px solid #fff;" data-placement="right" data-toggle="tooltip" title="Upload an image to search by predicted audio features from our Neural Network"> </canvas>
              <input id="file" type="file" accept="image/*">
              <table>
                <tr>
                  <td>Danceability</td>
                  <td><input class="audio-feature-input" id="danceability" name="danceability" type="number" min=0.00 max=1.00 step=0.01></td>
                </tr>
                <tr>
                  <td>Energy</td>
                  <td><input class="audio-feature-input" id="energy" name="energy" type="number" min=0.00 max=1.00 step=0.01></td>
                </tr>
                <tr>
                  <td>Mode</td>
                  <td><input class="audio-feature-input" id="mode" name="mode" type="number" min=0.00 max=1.00 step=0.01></td>
                </tr>
                <tr>
                  <td>Acousticness</td>
                  <td><input class="audio-feature-input" id="acousticness" name="acousticness" type="number" min=0.00 max=1.00 step=0.01></td>
                </tr>
                <tr>
                  <td>Instrumentalness</td>
                  <td><input class="audio-feature-input" id="instrumentalness" name="instrumentalness" type="number" min=0.00 max=1.00 step=0.01></td>
                </tr>
                <tr>
                  <td>Liveness</td>
                  <td><input class="audio-feature-input" id="liveness" name="liveness" type="number" min=0.00 max=1.00 step=0.01></td>
                </tr>
                <tr>
                  <td>Valence</td>
                  <td><input class="audio-feature-input" id="valence" name="valence" type="number" min=0.00 max=1.00 step=0.01></td>
                </tr>
              </table>
              <p style="margin-top: 10px; text-align: center">
                Tolerance
                <br>
                <input id="tolerance" name="tolerance" data-slider-id='tolerance' type="text" data-slider-min="0.0" data-slider-max="5.0" data-slider-step="0.1" data-slider-value="2.0"/>
              </p>
            </div>
            
            <div class="col-md-3" data-toggle="tooltip" data-placement="top" title="Select a range of years to filter search results by time of release">
              <h4>Year</h4>
              <p>Start</p>
              <select name="startYear">
                <% for(var i=0; i < dropdown.years.length; i++) { %>
                  <% if (i ==  dropdown.years.length-1) { %>
                    <option value="<%- Object.keys(dropdown.years[i]) %>" selected="selected"> <%- dropdown.years[i][Object.keys(dropdown.years[i])] %></option>
                  <% } else { %>
                    <option value="<%- Object.keys(dropdown.years[i]) %>"> <%- dropdown.years[i][Object.keys(dropdown.years[i])] %></option>
                  <% } %>
                <% } %>
              </select>

              <p style="margin-top: 10px">End</p>
              <select name="stopYear">
                <% for(var i=0; i < dropdown.years.length; i++) { %>
                  <% if (i == 0 ) { %>
                    <option value="<%- Object.keys(dropdown.years[i]) %>" selected="selected"> <%- dropdown.years[i][Object.keys(dropdown.years[i])] %></option>
                  <% } else { %>
                    <option value="<%- Object.keys(dropdown.years[i]) %>"> <%- dropdown.years[i][Object.keys(dropdown.years[i])] %></option>
                  <% } %>
                <% } %>
              </select>

              <h4 style="margin-top: 30px">Genre</h4>
              <select name="genre">
                <% for(var i=0; i < dropdown.genres.length; i++) { %>
                  <option value="<%- dropdown.genres[i] %>"> <%- dropdown.genres[i] %></option>
                <% } %>
              </select>
            </div>

            <div class="col-md-3">
              <div data-toggle="tooltip"  data-placement="top" title="Filter search results by track popularity">
                <h4>Popularity</h4>
                <input id="popularity" name="popularity" type="text" value="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="[20,80]"/>
              </div>
              <div style="margin-top: 20px;" data-toggle="tooltip"  data-placement="top" title="Control how many tracks deep to search">
                <h4>Search Depth</h4>
                <input id="depth" name="depth" data-slider-id='depth' type="text" data-slider-min="1" data-slider-max="1000" data-slider-step="10" data-slider-value="100"/>
              </div>
            </div>

          </div>

        </div>

        <div style="margin: 25px">
            <button type="submit" class="btn btn-outline-light btn-lg btn-block">Search</button>
        </div>
      </form>
    </div>
  </div>

	<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js" crossorigin="anonymous"></script>

  <script src="/js/sliders.js"></script>
  <script>runNN('models/08072019/model.json')</script>

</body>
</html>